*{
    padding: 0;
    margin: 0;
    background-color: rgb(203 203 203 / 92%);
    height: 100%;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding-top: 15%;
 
}

.mycalc{
    /* background-color: linear-gradient(90deg, rgb(27, 27, 29/ 0%), rgb(1, 8, 41/ 100%), rgb(26, 23, 23/ 100%), rgb(34, 28, 28/ 100%)); */
    
    width: 350px;
    height: 385px;
    /* background-color: rgb(63, 30, 30); */
    padding: 4px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    font-size: xx-large;
    box-shadow: 0px 0px 12px 1px #000000;
    flex-flow: column;

}
.output{
    font-family: 'Audiowide', cursive;
    display: inherit;
    /* height: 64px; */
    font-size: 1.5em;
    overflow: hidden;
    justify-content: end;
    align-items: center;
    margin-right: 2px;
    border: 3px solid;
    border-width: 2px 0;
    border-radius: 5px;
}

.btn{
    font-family: 'Audiowide', cursive;
    width: 50px;
    height: 50px;
    padding: 7px;
    margin: 5px;
    border-radius: 9px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: inherit;
}

.btn:hover{
    box-shadow: 0px 0px 8px 1px #006650;
}


.row{
    width: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: auto;
}
.footercss{
    display: flex;
    justify-content: center;
    margin-top: 11px;
    padding: 4% 0;
    width: auto
}
.footerdiv{
    color: white;
    border: double rgba(255,255,255,.25);
    border-width: 4px 0;
}
h2{
    margin: 3% 0;
}
  
a{
    text-decoration: none; 
    color: white
}
a:hover{
    color: #00a96b;
}
@media screen and (max-width: 375px) {
   .mycalc{
    width: 60%;
    height: 45%;
   }
   .row{
       height: fit-content;
   }
   .btn{
        width: 100%;
        height: 31px;
        padding: 7px;
        margin: 3px;
       
        text-align: center;
        font-size: x-large;
        cursor: pointer;
   }
   .output{
       font-size: x-large;
   }
}